<mat-card *ngIf="unicorn">
    <mat-card-header>
        <img mat-card-avatar [src]="unicorn.photo" alt="photo" />
        <mat-card-title>{{ unicorn.name }}</mat-card-title>
        <mat-card-subtitle>Id: {{ unicorn.id }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="unicorn.photo" alt="Photo of {{ unicorn.name }}" />

    <mat-card-content>
        <ul>
            <li>{{ unicorn.weight }}</li>
            <li>Age Pipe: {{ unicorn.birthyear | age }}</li>
            <li>Age Function: {{ getAge(unicorn.birthyear) }}</li>
            <li>{{ unicorn.hobbies }}</li>
            <li>IsInCart: {{ isInCart$ | async }}</li>
        </ul>
    </mat-card-content>
    <mat-card-actions>
        <button mat-mini-fab color="warn" (click)="remove()">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-mini-fab color="primary">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-mini-fab [color]="(isInCart$ | async) ? 'accent' : 'primary'" (click)="toggleToCart()">
            <mat-icon>favorite</mat-icon>
        </button>
        <a mat-mini-fab color="primary" [routerLink]="['/unicorns', unicorn.id]">
            <mat-icon>visibility</mat-icon>
        </a>
    </mat-card-actions>
</mat-card>
